<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}{% endblock %}
</head>

<body style="
    margin: 0;
    padding: 2rem;
    font-family: sans-serif;
    background-color: #f2fafc;
">
    <main style="
        max-width: fit-content;
        margin: auto;
        overflow: hidden;
        background: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    ">
        {% block content %}{% endblock %}
    </main>
    <footer style="
        user-select: none;
        color: #888;
        text-align: center;
        font-size: 0.75rem;
        margin: 1rem auto;
        font-family: sans-serif;
    ">
        This is an automated message. Please do not reply.
    </footer>
</body>

</html>