<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            margin: 0;
            padding: 2rem;
            font-family: sans-serif;
            background-color: #f2fafc;
        }

        main {
            max-width: fit-content;
            margin: auto;
            padding: 2rem;
            overflow: hidden;
            background: #fff;
            border-radius: 0.5rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.6rem;
        }

        footer {
            user-select: none;
            color: #888;
            text-align: center;
            font-size: 0.75rem;
            margin: 1rem auto;
            font-family: sans-serif;
        }

        hr {
            width: 100%;
            opacity: 0.3;
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    <footer>
        This is an automated message. Please do not reply.
    </footer>
</body>

</html>
